sass:
  $blue: #357edd
  $red: #c52f24
  a
    color: $red
  header
    background-color: $red
    color: #ffffff
  h1
    font-weight: 200
    font-size: 3.5rem
  @media screen and (max-width: 30em)
    h1
      font-size: 2.5rem
  input[type=text]
    outline: none
    &::selection
      background: lighten($red, 40%)
    &::-moz-selection
      background: lighten($red, 40%)
  input[type=submit]
    color: $red
    background-color: #ffffff
    border: none
    cursor: pointer
    transition: all 0.2s
    &:hover
      opacity: 0.8
  .inflection
    border-bottom: 1px dashed #aaaaaa
    cursor: help
  code
    font-family: 'Fira Mono', Menlo, Monaco, monospace

header.pt3.pb1.center
  h1.ma0.tc.mb3.mb0-ns
    a.no-underline.white(href="/") Rails Inflector Lookup
  div.mv4-ns
    == partial('form', :locals => { :value => @escaped })

main.f6.cf.mw9
  div.fl.w-50-ns.w-100.pt4-ns.pl4-ns.pr3-ns.pt2-m.pl2-m.pr1-m
    == partial('table', :locals => { :inflections => INFLECTIONS.first(INDEXES[:first_end]), :text => @text })

  div.fl.w-50-ns.w-100.pt4-ns.pl3-ns.pr4-ns.pt2-m.pl2-m.pr1-m
    == partial('table', :locals => { :inflections => INFLECTIONS.last(INDEXES[:second_start]), :text => @text })

javascript:
  var InflectCheck = {
    $form: document.getElementById('form'),
    $commit: document.getElementById('commit'),
    $input: document.getElementById('input'),
    go: function() {
      location.href = '/' + this.$input.value;
    },
    onSubmit: function(e) {
      e.preventDefault();
    },
    onKeyUp: function(e) {
      if (e.key == 'Enter') {
        this.go.call(this);
      }
    },
    init: function(window) {
      this.$form.addEventListener('submit', this.onSubmit.bind(this));
      this.$commit.addEventListener('click', this.go.bind(this));
      this.$input.addEventListener('keyup', this.onKeyUp.bind(this));
      this.$input.select();
    }
  };

  document.addEventListener('DOMContentLoaded', function() {
    InflectCheck.init(window);
  });
